body {
    background-color: #f0e181;
}

/* Navbar container */
.navbar {
    overflow: hidden;
    background-color: #18BC9C;
    font-family: Arial;
}
  
  /* Links inside the navbar */
.navbar h6 {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
  
  /* Dropdown button */
.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
}
  
  /* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
    background-color: #f0e181;
}
  
  /* Dropdown content (hidden by default) */
#dropdown-content {
    display: none;
    /* position: sticky; */
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}
  
  /* Links inside the dropdown */
#dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
  
  /* Add a grey background color to dropdown links on hover */
#dropdown-content a:hover {
    background-color: #ddd;
}
  
  /* Show the dropdown menu on hover */
.dropdown:hover #dropdown-content {
    display: inline;
}

.display-icons {
    border: #989a9c solid 1px;
    border-radius: 2.5%;
    margin-top: 2%;
    background-color: #ecf0f1;
}

.bottom-row {
    min-height: 4em;
}

#UV-Colour {
    height: 5%;
    width: 80%;
    margin: 2% auto;
}

#img-background {
    width: 50%;
    padding: 0;
    margin: 0.2em auto;
}

.icon-next-5-background {
    width: 50%;
    padding: 0;
    margin-bottom: 0.2em auto;
}

#github-link {
    color: whitesmoke;
    text-decoration: underline;
}

footer {
    margin-top: 2%;
    background-color: #18BC9C;
    color: white;
    margin-bottom: 0%;
}

#footer-h4 {
    text-align: center;
    width: 100%;
    background-color: #18BC9C;
    color: white;
}

#footer-text {
    text-align: center;
    width: 100%;
    margin-top: 0.5%;
    background-color: #18BC9C;
    color: white;
}